@import '../../medias.css';

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button {
    width: 100%;
    max-width: 200px;
}

.card {
    padding: 24px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.bio {
    margin-top: 24px;
    margin-bottom: 16px;
}

.repositories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.stats {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}

@media (--isMobile) {
    .content {
        display: flex;
        flex-direction: column;

    }

    .stats {
        flex-direction: column;
        gap: 8px;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
    }
}

.texts {
    display: flex;
    flex-direction: column;
}

.textsContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}