.large {
    padding: 16px 24px !important;
    min-width: 110px !important;
    border-radius: 12px !important;
    font-size: 16px !important;
    line-height: 24px !important;
}

.medium {
    padding: 8px 16px !important;
    min-width: 80px !important;
    height: 80px !important;
    border-radius: 8px !important;
    font-size: 14px !important;
    line-height: 20px !important;
}

.small {
    padding: 4px 8px !important;
    min-width: 60px !important;

    height: 32px !important;
    border-radius: 8px !important;
    font-size: 12px !important;
    line-height: 16px !important;
}

.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.hidden {
    visibility: hidden;
}

.spinnerWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}