.container {
    background-color: var(--primary-foreground) !important;
    margin-bottom: 64px;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 0 !important;
}

.leftToolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.iconButton {
    padding: 0 !important;
}

.suggestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}